/* Fonts */
/*
 * Simple line icons (https://github.com/simplelineicons/simplelineicons.github.io)
 * MIT License: /files/fonts/simple-line-icons-LICENSE.md
 */
 @font-face {
  font-family: "simple-line-icons";
  src: url("files/fonts/Simple-Line-Icons.woff2?v=2.4.0") format("woff2"),
    url("files/fonts/Simple-Line-Icons.ttf?v=2.4.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
 * Cascadia Code (https://github.com/microsoft/cascadia-code)
 * SIL Open Font License 1.1: /files/fonts/cascadia-code-LICENSE
 */
@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code"),
    url("files/fonts/CascadiaCode.woff2") format("woff2"),
    url("files/fonts/CascadiaCode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
 * Roboto (https://github.com/googlefonts/roboto)
 * Apache License 2.0: /files/fonts/roboto-LICENSE
 */
@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("files/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("files/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Medium"), url("files/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Medium Italic"), url("files/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Bold"), url("files/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Bold Italic"), url("files/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* color vars */
:root {
  --bg: #ffffff;
  --text: #000000;
  --accent: #77e4ff;
  --accent-2: #a6edff;
  --bg-gradient: linear-gradient(131deg, rgba(8,19,27,1) 0%, rgba(59,108,140,1) 100%);
  --header-filter: none;
  --article-bg: #ffffff;
  --link: #0066cc;
  --link-active: #454545;
  --footer-bg: #898989;
  --hover-bg: #efefef;
  --target: yellow;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* color vars */
    --bg: #22222b;
    --text: #cdcdcd;
    --accent: #77e4ff;
    --accent-2: #1e1e1e;
    --bg-gradient: linear-gradient(171deg, #1f3746 0%, #2e2b33 100%);
    --header-filter: brightness(0.7);
    --article-bg: #292929;
    --link: #63bae6;
    --link-active: #999d9e;
    --footer-bg: #1a1a1a;
    --hover-bg: #303030;
    --target: #416064;
  }
  img {filter: brightness(.75) contrast(1.05)}
  * {box-shadow: none !important}
  ::selection {background-color: rgba(93, 106, 117, 0.3)}
}

* {
  box-sizing: border-box;
  scroll-margin-top: 1.8em;
}

:target {animation: targetFade 4s}
@keyframes targetFade {
  0% {background-color: var(--target)}
  30% {background-color: var(--target)}
  100% {background-color: none}
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}
a {
  color: var(--text);
  border: 1px solid transparent;
  transition: color 0.3s, border-color 0.5s;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
a:hover, a:active, a:focus {color: var(--link-active)}
a:focus-visible {border-color: var(--link-active)}

code {
  font-family: "Cascadia Code", monospace;
  font-size: .8em;
  color: var(--code-color);
  background-color: var(--light-bg);
  border: 2px solid transparent;
  padding: 2px;
  border-radius: 6px;
}

pre {
  font-family: 'Cascadia Code', monospace;
  font-size: .9em;
  overflow: hidden;
  overflow-x: auto;
  margin: .5em 0;
  padding: .8em .6em;
  border: 2px solid var(--accent);
  border-radius: 8px;
  background-color: var(--article-bg);
}

.icon::before {font-family: "simple-line-icons"}

/* header */
header {
  padding: 1em 1.5em 0 1.5em;
  margin-bottom: 1em;
  color: white;
}
header h1 {
  margin: 1.5em 0 0.2em 0;
  font-size: 3em;
}
header a {color: inherit}
header a:hover, header a:focus, header a:active {color: var(--accent)}
header a:focus-visible {border-color: var(--accent);}
header p {margin: 0}
/* header background */
#bg {
  display: block;
  width: 100%;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  transition: width .5s, height .5s;
}
#bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0B161D;
  background-image: url(i/bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: opacity .4s ease-in-out;
  z-index: -4;
  opacity: 0.3;
  filter: var(--header-filter)
}
#bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0B161D;
  background: var(--bg-gradient);
  z-index: -5;
}
/* bg styling changes need an exact size to be applied to */
@media (max-width: 900px) {
  #bg {height: 360px}
}
@media (max-width: 540px) {
  #bg::before {background-size: auto 100%}
}
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  header:hover #bg::before {opacity: 0.4}
}

/* nav bar */
nav {
  padding: 0 1.5em;
  margin: 1.5em 0;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
nav a {
  display: block;
  padding: 0 8px;
  margin-right: .4em;
  color: white;
  transition: color 0.3s, border-color 0.3s;
  border: 1px solid transparent;
}
nav .current {border-bottom-color: var(--accent)}
nav a:hover, nav a:focus, nav:active {
  color: var(--accent);
  border-bottom-color: var(--accent);
}
nav a:focus-visible {border-color: var(--accent)}

/* search button */
#search.isIcon {
  position: absolute;
  right: 1.5em;
  margin: 0;
}
#search.isIcon:hover {border-color: transparent}
#search.isIcon::before {content: "\e090"}

/* body */
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 2em;
}
.main h1 {margin: .3em 0}
.main h2 {font-size: 1.2em}
.main h3 {
  font-size: 1em;
  margin: .6em 0 0em 0;
}
.main ul {
  margin: 0 0 .8em 0;
  padding-left: 20px;
}

main, aside div {
  color: var(--text);
  background: var(--accent-2);
  padding: 1.4em;
  border-radius: 8px;
  box-shadow: 3px 5px 4px rgba(0,0,0,0.4);
  transition: box-shadow .5s;
}

/* main */
main {
  width: 70%;
  margin-right: 1.5em;
}
main p.time {
  padding-top: 0;
  margin-top: 0
}

/* home page flexbox */
.main span {
  display: flex;
  position: relative;
  width: calc(100% + .6em);
  flex-wrap: wrap;
  align-items: stretch;
}

/* .post */
.post {
  display: block;
  background: var(--article-bg);
  margin-bottom: .8em;
  padding: .8em;
  border-radius: 8px;
  word-wrap: break-word;
  transition: color 0.3s, background 0.3s, box-shadow .4s, border .4s;
}
.post h2 {margin: 0.5em 0 0.2em 0}
.post p {
  padding: 0.4em 0;
  margin: 0;
}
/* home page .post */
a.post {
  border: 2px solid transparent;
  flex-grow: 1;
  width: calc(33% - 1em);
  margin-right: .6em;
  min-width: 270px;
}
/* different sizes */
a.post.small {width: calc(20% - .6em)}
a.post.medium {width: calc(55% - .6em)}
a.post.long, a.post.hasimg {width: calc(100% - .6em)}
a.post:hover, a.post:focus, a.post:active {background: var(--hover-bg)}
a.post:focus-visible {border-color: var(--link-active)}

/* see more posts */
.more {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: .4em;
}
.more a:hover, .more a:focus {text-decoration: underline}

/* Aside */
aside {width: 22%}
aside div {margin-bottom: 1em}
aside div:last-child {margin: 0}

.updates span .post {
  width: 160px;
  min-width: calc(33% - 1em);
  max-width: calc(100% - .6em);
}
.new::before {content: "\e03f"}
.annual::before {content: "\e075"}
.promoted::before {content: "\e077"}

.feature a.post {
  width: 100%;
  margin: initial;
  min-width: auto;
}

/* post article */
.post a {color: var(--link)}
.post a:hover, .post a:focus, .post a:active {text-decoration: underline}
.post a:active {color: var(--link-active)}
.post a:focus-visible {border-color: var(--link)}
article.post {padding: 1em .9em}
/* post title */
.title {font-size: 1.5em}
/* header links */
a.hlink {
  position: relative;
  bottom: .1em;
  font-family: 'simple-line-icons';
  font-size: .55em;
  color: var(--text);
  transition: color .3s, opacity .4s .3s;
}
a.hlink::after {
  content: "\e08d";
  padding: .3em;
}
a.hlink.clicked::after {
  content: "\e080";
  animation: targetFade 2.5s;
}
@media (hover: hover) {
  a.hlink {opacity: 0 !important}
}
h1:hover a.hlink, h2:hover a.hlink, h3:hover a.hlink,
a.hlink:focus-visible {
  opacity: 1 !important;
  transition: color .3s, opacity .2s .1s;
}
a.hlink:hover, a.hlink:focus {
  text-decoration: none;
  color: var(--link-active);
}

/* image */
.post img {
  display: block;
  width: 100%;
  max-width: 580px;
  height: auto;
  margin: auto;
  margin-top: .6em;
  margin-bottom: .4em;
  border-radius: 10px;
  background: #c8f4ff;
  transition: box-shadow .3s;
}
figure {
  margin: 0 0 1em 0;
}
article img {box-shadow: 2px 3px 4px rgba(0,0,0,0.2)}
figcaption {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
  margin: 1em 2em;
}
.post figcaption p {
  padding: 0;
  margin-top: .3em;
}

/* table */
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  max-width: 500px;
  margin: auto;
}
th, td {padding: 4px}
thead {background: #ddd}
tr {transition: background-color .1s}
tr:nth-child(even) {background: #eee}

/* body content and article box-shadow transitions */
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  main:hover, aside div:hover {box-shadow: 3px 5px 6px rgba(0,0,0,0.6)}
  a.post:hover, a.post:focus, a.post:active {box-shadow: 3px 5px 3px rgba(0,0,0,0.6)}
  article img:hover {box-shadow: 2px 3px 6px rgba(0,0,0,0.5)}
}

/* Footer */
footer {
  margin-top: 2.5em;
  padding: 2em 1em .5em 1em;
  background: var(--footer-bg);
  cursor: default;
  transition: margin-top .4s, padding-bottom .4s;
}
footer h1 {margin-bottom: 0}
footer p {margin: 0.4em 0}
footer a {
  color: var(--text);
  text-decoration: underline;
}
footer a:hover, footer a:focus {
  color: var(--link-active);
  text-decoration: underline;
}
/* list of links at the end */
footer .links {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0;
  width: 600px;
  max-width: 80%;
  justify-content: flex-start;
}
.col {
  margin: 0 2em 0.5em 0;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}
.col a {
  display: block;
  text-decoration: none;
}
.col a:hover, .col a:active {text-decoration: underline}
.social a {
  font-family: simple-line-icons;
  display: inline-block;
  text-decoration: none !important;
}
.social .gthb::after {content: "\e60c"}
.social .twtr::after {content: "\e009"}
.social .doc::after {content: "\e085"}
footer .ico {position: relative}
footer .ico img {
  position: absolute;
  top: .5em;
  right: 1.2em;
  min-width: 60px;
  width: calc(20% - 2em);
  max-width: 92px;
  border-radius: 28%;
}
/* footer hover animation */
@media (hover: hover) and (prefers-reduced-motion: no-preference) {
  footer:hover {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
  }
  @media (max-width: 700px) {
    footer:hover {
      margin-top: 1.75em;
      padding-bottom: 1.25em;
    }
  }
}

/* extra */

/* ripple effect when clicked */
@media (prefers-reduced-motion: no-preference) {
  span[id^="ripple"] {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    animation: ripple 1.4s;
    opacity: 0;
  }
  @media (hover: hover) {
    @keyframes ripple {
      0% { opacity: 1; transform: scale(0) }
      100% { opacity: 0; transform: scale(30) }
    }
  }
  @media (hover: none) {
    @keyframes ripple {
      0% { opacity: 1; transform: scale(0.5) }
      100% { opacity: 0; transform: scale(30) }
    }
  }
}

/* Twitter timeline embed */
.twt {
  text-align: center;
  margin-left: calc(calc(100% - 430px) / 2);
  margin-right: calc(calc(100% - 430px) / 2);
  margin-top: .5em;
  width: 100%;
  max-width: 430px;
}
.twt iframe {
  border: 1px solid rgba(15,70,100,.12) !important;
  border-radius: 4px;
}
@media (max-width: 520px) {
  .twt {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
  }
}

/* iframe video embed */
.video {
  position: relative;
  padding-bottom: 393.75px;
  height: 0;
  overflow: hidden;
  max-width: 700px;
  margin: 1em auto;
  border-radius: 8px;
  box-shadow: 3px 5px 3px black;
  background-color: black;
}
.video iframe, .video object, .video embed {
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1115px) {
  .video {padding-bottom: 56.25%}
}

/* notifications */
#notifs-wonderland {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-height: 100vh;
  padding: 1.5em;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
}
[id^="ntf"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--accent-2);
  color: var(--text);
  word-break: break-word;
  width: 400px;
  max-width: 40vmax;
  font-size: 14px;
  margin-top: .5em;
  border-radius: 8px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5) !important;
  transition: .3s;
  animation: alertFade .8s 5s;
}
[id^="ntf"]:hover {box-shadow: 1px 2px 6px rgba(0,0,0,0.7) !important}
[id^="ntf"] .x {
  color: var(--text);
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  cursor: pointer;
  transition: .3s;
  margin-left: .5em;
}
[id^="ntf"] .x:hover {color: var(--link-active)}
[id^="ntf"].medium {animation: alertFade .8s 15s}
[id^="ntf"].long {animation: alertFade .8s 30s}
[id^="ntf"].longer {animation: alertFade .8s 60s}
@keyframes alertFade {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

/* Back to top button */
#backtotop {
  --bbt-bg: #cdcdcd;
  --bbt-color: #444;
  --bbt-hov-bg: #444;
  --bbt-hov-clr: #77e4ff;
  --bbt-act-bg: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3em;
  height: 3.3em;
  visibility: hidden;
  opacity: 0;
  background-color: var(--bbt-bg);
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 4;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.4) !important;
  transition: background-color .3s,
    opacity .3s,
    visibility .3s,
    box-shadow .3s;
}
@media (prefers-color-scheme: dark) {
  #backtotop {
    --bbt-bg: #282b39;
    --bbt-color: #999d9e;
    --bbt-hov-bg: #272835;
    --bbt-hov-clr: #516d74;
    --bbt-act-bg: #24282c;
  }
}
#backtotop::after {
  font-family: "simple-line-icons";
  content: "\e607";
  font-weight: 900;
  font-size: 1.2em;
  color: var(--bbt-color);
  transition: color .2s;
}
#backtotop.show {
  visibility: visible;
  opacity: 1;
}
@media (hover: hover) {
  #backtotop:hover {
    background-color: var(--bbt-hov-bg);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  }
  #backtotop:active {background-color: var(--bbt-act-bg)}
  #backtotop:hover::after, #backtotop:active::after {color: var(--bbt-hov-clr)}
  @media (prefers-reduced-motion: no-preference) {
    #backtotop:hover::after {
      position: relative;
      animation: bttHoverStart 1.05s .05s ease, bttHoverLoop 1.3s 1.1s ease infinite;
    }
  }
}
@keyframes bttHoverStart {
  0% {bottom: 0}
  40% {bottom: 0}
  100% {bottom: -20%}
}
@keyframes bttHoverLoop {
  0% {bottom: -20%}
  45% {bottom: 20%}
  100% {bottom: -20%}
}
/* back to top position in different screen sizes */
@media (max-width: 900px) {
  #backtotop {
    bottom: 24px;
    right: 24px;
  }
  #backtotop::after {font-size: .9em}
}
@media (max-width: 360px) {
  #backtotop {
    width: 2.7em;
    height: 2.7em;
  }
}

/* general styles that vary in different screen sizes (specifically screen width) */

/* a 1-column layout for large tablets and pcs with small screens. */
@media (max-width: 900px) {
  .main {
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
  }
  main, aside {
    width: 100%;
    max-width: 700px;
    margin-right: 0;
  }
  aside {margin-top: 1em}
  main, aside div {padding: 1.2em 1em}
  main h1, aside h1 {
    margin: .5em 0;
    padding: 0;
    font-size: 1.5em;
  }
  main h2, aside h2 {
    margin: 8px 0 2px 0;
    padding: 0;
    font-size: 1.1em;
  }
  .main span {width: calc(100% + .6em) !important}
  main .post, aside .post {margin-bottom: .6em}
  .updates span .post {
    min-width: 140px;
  }
  /* notifications */
  #notifs-wonderland {padding: .8em}
  [id^="ntf"] {
    width: 280px;
    max-width: 50vw;
  }
}

/* a smaller variant of the previous layout for very large phones, tablets, and pcs with very small screens. */
@media (max-width: 700px) {
  p, div, span, ul, table {font-size: .95em !important}
  pre {
    font-size: .75em;
    margin: .3em 0;
  }
  header h1 {font-size: 2.1em}
  header [aria-label=Subtitle] {font-size: .9em}
  header h1 {margin-top: 1em}
  #bg {
    height: 280px;
    background-size: cover;
  }
  nav {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  main, aside {max-width: 560px}
  figure {margin-bottom: .85em}
  figcaption {margin: .6em .5em}
}

/* a compact version for phones with width less than my phone. */
@media (max-width: 358px) {
  header, nav {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
  nav a {
    font-size: .95em;
    padding: 0 .6em 0 0;
  }
  nav .current {border-bottom: none}
  .main {margin: 0}
  main, aside div {
    border-radius: 0;
    padding-left: 0.7em;
    padding-right: 0.7em;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.4);
  }
  a.post {
    min-width: calc(100% - .8em);
  }
  article.post img {
    position: relative;
    left: -0.9em;
    border-radius: 0;
    width: calc(100% + 1.8em);
    box-shadow: none;
  }
}

/* a very compact version for very small screens. */
@media (max-width: 240px) {
  p, nav a, div, ul, table {font-size: 10px !important}
  header [aria-label=Subtitle] {display: none}
  header h1 {
    margin: .3em 0;
    font-size: 14vw !important;
  }
  .main h1 {
    font-size: 15px !important;
  }
  .main h2 {
    font-size: 12px !important;
  }
  .updates span .post {min-width: calc(100% - .7em)}
  footer {
    margin-top: 1.5em;
    padding: .85em .5em .5em .5em;
  }
  footer .ico img {min-width: 40px}
  header, nav, footer .links {
    margin: .6em 0;
  }
  footer h1 {display: none}
  #backtotop {display: none !important}
}
