html {
	color: white;
	font-family: Roboto, sans-serif;
}

body {
	margin: 0;
}

a {
	color: #63cee9;
	border-bottom: 1px solid transparent;
	transition: color 0.3s, border-color 0.5s;
	cursor: pointer;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: white;
}

* {
	box-sizing: border-box;
	scroll-margin-top: 2em;
}
:target {
	animation: targetFade 2.5s;
}
@keyframes targetFade {
	0% {background-color: yellow}
	20% {background-color: yellow}
	100% {background-color: none}
}

/* background */
#bg {
	background: #0B161D;
	background: url(/images/background.png);
	background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
	background-size: 100% auto;
    width: 100%;
	height: 360px;
    transition: width .5s, height .5s;
}

/* header */
header {
	padding: 1em 1.5em 0 1.5em;
	margin-bottom: 1em;
    background-color: transparent;
}
header h1, header p {
	margin: 0;
}
header h1 {
	margin: 1.5em 0 0.2em 0;
	font-size: 3em;
}
header h1 a {
	color: inherit;
	transition: color 0.5s;
}
header h1 a:hover, header h1 a:focus, header h1 a:active {
	color: #77e4ff;
	border: none;
}

/* nav bar */
nav {
	padding: 0 1.5em;
	margin: 1.5em 0;
	font-size: 16px;
	overflow: hidden;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	float: left;
}
nav li a {
	display: block;
	padding: 0 8px;
	margin: 0 4px;
	color: white;
	border-bottom: 1px solid transparent;
	transition: color 0.3s, border-color 0.3s;
	cursor: pointer;
}
nav li a:hover, nav li a:focus, nav li a:active {
	color: #77e4ff;
	border-bottom: 1px solid #77e4ff;
}
nav .current {
	border-bottom: 1px solid #77e4ff;
}

/* main */
.main::after {
	content: "";
	display: table;
	clear: both;
}
.main h1 {
	margin: .3em 0 0 0;
}
.main h2 {
	font-size: 1.2em;
}
.main h3 {
	font-size: 1.2em;
	margin: .5em 0 .2em 0;
}
.main h4 {
	font-size: 1em;
	margin: .5em 0 .2em 0;
}
.main ul {
	margin: 0 0 .8em 0;
	padding-left: 20px;
}
section, aside {
	float: left;
}
section, aside div {
	padding: 1.4em;
	box-shadow: 3px 5px 3px rgba(0,0,0,0.4);
	transition: box-shadow .5s;
}
section:hover, aside div:hover {
	box-shadow: 3px 5px 3px rgba(0,0,0,0.7);
}

/* section */
section {
	width: 67%;
	margin: 0 3% 0 3%;
	background-color: #a6edff;
	color: black;
	border-radius: 8px;
}
section a {
	color: black;
	border: none;
}
section a:hover, section a:focus, section a:active {
	color: #777777;
	border: none;
}
section a.inline:hover, section a.inline:focus, section a.inline:active {
	text-decoration: underline;
}

/* sidebar */
aside {
	width: 24%;
	margin: 0 3% 0 0;
}
aside div {
	background-color: #a6edff;
	color: black;
	border-radius: 8px;
	margin-bottom: 1em;
}
aside div:last-child {
    margin: 0;
}

/* .post and article */
.post {
	word-wrap: break-word;
	background-color: white;
	color: inherit;
	display: block;
	margin: .8em 0;
	padding: .8em;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, box-shadow .5s;
}
.post h2 {
	padding: 0.5em 0 0.2em 0;
	margin: 0;
}
.post p {
	padding: 0.4em 0 0.4em 0;
	margin: 0;
}
.post img:hover {
	box-shadow: 2px 3px 3px rgba(0,0,0,0.7);
}
.post a {
	color: #0066cc;
}
.post a:hover, .post a:focus, .post a:active {
	color: inherit;
	text-decoration: underline;
}
.post a:active {
	color: #777777;
}
a.post {
	border: none;
}
a.post:hover, a.post:focus, a.post:active {
	color: #555555;
	background-color: #efefef;
	cursor: pointer;
	border: none;
	box-shadow: 3px 5px 3px rgba(0,0,0,0.6);
}
article.post {
	padding: 1em .9em;
}
.cursive {
	font-family: 'Cambria', sans-serif;
}

/* more posts link */
.more {
	text-align: center;
	color: inherit;
	transition: color 0.3s;
	margin-bottom: 0;
	font-size: 1em;
}
.more:hover, .more:active, .more:focus {
	color: #555555;
	text-decoration: underline;
}

/* image */
.post img {
	width: 100%;
	max-width: 650px;
	margin: auto;
	display: block;
	height: auto;
    border-radius: 10px;
	margin-top: .8em;
	margin-bottom: .4em;
	background-color: #c8f4ff;
	transition: box-shadow .3s;
}
article img:hover {
	box-shadow: 2px 3px 3px rgba(0,0,0,0.7);
}
article img {
	box-shadow: 2px 3px 3px rgba(0,0,0,0.4);
}
.post .imgdesc {
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
}
.post .imgdesc.last {
	margin-bottom: 1.2em;
}

/* Copy direct link */
section h1.title {
	margin-bottom: 0;
	cursor: pointer;
}
section h1.title:hover::after {
	font-family: "simple-line-icons";
    font-weight: 900;
	font-size: 0.7em;
    content: "\e08d";
	padding: 8px;
}
section .time {
	padding-top: 0;
	margin-top: 0;
}

/* Footer */
footer {
	margin-top: 3em;
	padding: 2em 1em .5em 1em;
	background-color: #898989;
	color: black;
	border-radius: 8px 8px 0 0;
	cursor: default;
	transition: margin-top .4s;
}
footer h1 {
	margin-bottom: 0;
}
footer p {
	margin: 0.4em 0;
}
footer a {
	color: black;
	text-decoration: underline;
}
footer a:hover, footer a:focus, footer a:active {
	color: #565656;
	text-decoration: underline;
}
/* list of links at the end */
footer .links {
	margin: 1.5em 0;
}
footer .links::after {
	content: "";
	display: table;
	clear: both;
}
footer .col {
	float: left;
	width: auto;
	margin-right: 1.5em;
}
footer .col a {
	display: block;
	text-decoration: none;
}
footer .col a:hover, footer .col a:focus, footer .col a:active {
	color: inherit;
	text-decoration: underline;
}
/* footer icon */
footer .ico img {
	width: 15%;
	max-width: 96px;
	position: absolute;
	right: 2em;
	border-radius: 28%;
	box-shadow: 3px 5px 3px rgba(0,0,0,0.6);
}
/* footer hover animation */
footer:hover {
	margin-top: 1.5em;
}
footer p.last {
	padding-bottom: 0;
	transition: padding .4s;
}
footer:hover p.last {
	padding-bottom: 1.5em;
}

/* iframe embed */
.video {
	position: relative;
	padding-bottom: 393.75px;
	height: 0;
	overflow: hidden;
	max-width: 700px;
	margin: 1em auto;
	border-radius: 8px;
	box-shadow: 3px 5px 3px black;
	background-color: #c8f4ff;
}
.video iframe, .video object, .video embed {
	position: absolute;
	border-radius: 8px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1115px) {
	.video {
		padding-bottom: 56.25%;
	}
}

/* Back to top button */
#backtotop {
	display: inline-block;
	width: 3em;
	height: 3em;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	background-color: #cdcdcd;
	border-radius: 10px;
	position: fixed;
	bottom: 32px;
	right: 32px;
	z-index: 50;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
	transition: background-color .3s, opacity .3s,
		visibility .3s, border .2s,
		width .5s, height .5s,
		box-shadow .3s,
		right .5s, bottom .5s;
}
#backtotop:hover {
	cursor: pointer;
	background-color: #444;
	box-shadow: 2px 3px 5px rgba(0,0,0,0.7);
}
@keyframes bttHoverLoop {
	0% { line-height: 60px; }
	50% { line-height: 35px; }
	100% { line-height: 60px; }
}
@keyframes bttHoverStart {
	0% { line-height: 50px; }
	100% { line-height: 60px; }
}
#backtotop::after {
	font-family: 'simple-line-icons';
	content: "\e607";
	font-weight: 900;
	font-size: 1.2em;
	line-height: 50px;
	color: #444;
	transition: color .2s, line-height .2s;
}
#backtotop:hover::after {
	animation: bttHoverStart .4s .2s ease,
		bttHoverLoop 1s .6s ease infinite;
}
#backtotop:active {
	background-color: #777;
	border: none;
}
#backtotop:hover::after, #backtotop:active::after {
	color: #77E4FF;
}
#backtotop.show {
	opacity: 1;
	visibility: visible;
}

/* @media stuff */
@media screen and (max-width: 900px) {
	
	#bg {
		height: 360px;
	}
	
	/* section and aside */
	.main {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	section, aside {
		width: 92%;
		max-width: 700px;
		margin: 1em auto 0 auto;
	}
	section, aside div {
		padding: 1.2em 1em;
	}
	section .post, aside .post {
		margin: .5em 0;
	}
	section h1, aside h1 {
		margin: .5em 0;
		padding: 0;
		font-size: 1.5em;
	}
	section h2, aside h2 {
		margin: 8px 0 2px 0;
		padding: 0;
		font-size: 1.2em;
	}
	.more h2 {
		margin-top: 14px;
	}
	
	/* footer */
    footer {
        margin-top: 2em;
        padding-top: .7em;
    }
	/* footer hover animation */
	footer:hover {
		margin-top: 1em;
	}
	footer:hover p.last {
		padding-bottom: 1em;
	}
	
	/* back to top button */
	#backtotop {
		width: 2.5em;
		height: 2.5em;
		bottom: 24px;
		right: 24px;
	}
	@keyframes bttHoverLoop {
		0% { line-height: 50px; }
		50% { line-height: 35px; }
		100% { line-height: 50px; }
	}
	@keyframes bttHoverStart {
		0% { line-height: 40px; }
		100% { line-height: 50px; }
	}
	#backtotop::after {
		font-size: 1em;
		line-height: 40px;
		transition: color .1s, line-height .1s;
	}
	#backtotop:hover::after {
		animation: bttHoverStart .3s ease,
			bttHoverLoop 1s .3s ease infinite;
	}
}
@media (max-width: 700px) {
	
	header h1, footer h1 {
		font-size: 1.7em;
	}
	p, span, ul {
		font-size: .9em;
	}
	
	#bg {
		height: 240px;
	}
	
	/* a bunch of header stuff */
    #bg {
        background-size: cover;
    }
	header h1 {
		margin-top: 10%;
	}
	nav {
		margin-bottom: 3%;
	}
}
@media (min-width: 550px) {
	/* the search icon */
	nav .search {
		visibility: hidden;
		height: 0;
		width: 0;
		margin: none;
		padding: none;
	}
	nav .search::before {
		visibility: visible;
		font-family: "simple-line-icons";
		content: "\e090";
		padding-right: 6px;
		position: absolute;
		right: 30px;
	}
	nav .search:hover, nav .search:focus, nav .search:active {
		border-bottom: 1px transparent;
	}
}

/* accessibility */
@media screen and (prefers-reduced-motion: reduce) {
	/* background */
	#bg {
		 transition: width 0s, height 0s;
	}
	
	/* section and aside */
	section, aside div, .post, .post img {
		transition: box-shadow 0s;
	}
	section:hover, aside div:hover {
		box-shadow: 3px 5px 3px rgb(0 0 0 / 40%);
	}
	a.post:hover, a.post:focus, a.post:active, .post img:hover {
		box-shadow: none;
	}
	
	/* footer */
	footer:hover {
		margin-top: 3em;
	}
	footer p.last {
		padding-bottom: 0;
		transition: padding 0s;
	}
	footer:hover p.last {
		padding-bottom: .4em;
	}
}